<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <meta charset="utf-8">
    <title>.NET Starter App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!--Font-->
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600" rel="stylesheet" type="text/css">


</head>
<body>
    <div id="header-row">
        <div class="container">
            <div class="row">
                <!--LOGO-->
                <div class="span3"><a class="brand" href="#"><img src="img/Helionlogo.png" style="padding-top:8px"></a></div>
                <!-- /LOGO -->
                <!-- MAIN NAVIGATION -->
                <div class="span9">
                    <div class="navbar  pull-right">
                        <div class="navbar-inner">
                            <a data-target=".navbar-responsive-collapse" data-toggle="collapse" class="btn btn-navbar"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></a>
                            <div class="nav-collapse collapse navbar-responsive-collapse">
                                <ul class="nav">
                                    <li class="active"><a href="index.html">Home</a></li>

                                    <li><a href="service.html">Add Services</a></li>
                                    <li><a href="blog.html">Use Services</a></li>

                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- MAIN NAVIGATION -->
            </div>
        </div>
    </div>
    @RenderBody()
    <footer>
        <div class="container">
            <div class="row">
                <div class="span6">
                    Copyright © Your App | All Rights Reserved  <br>
                    <small>Use this to start your app.</small>
                </div>
                <div class="span6">
                    <div class="social pull-right">
                    </div>
                </div>
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)

</body>
</html>
